body {

height: 100vh;
display: grid;
grid-template-rows: 40% 40%;
grid-template-columns: 33% auto auto auto;





}

 #background {
    position: absolute;
    overflow: hidden;
    background: url("../images/utility.jpg")  ;
    height: 100vh;
    width: 100vw ;
    animation: slide 60s linear infinite;
    z-index: 0;



}



/* @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0);
    }
  } */

#me {

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50px;
    color: rgb(252, 252, 252);
    font-size: x-large;
    font-family: 'Lucida Bright', sans-serif;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);


}


#picofme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    grid-area: 1 / 1 / 2 / 2 ;
    height: 425px;
    width: 425px;
    z-index: 2;
    padding: 60px;



}

#picbackground {


    grid-area: 1 / 1 / 2 / 2 ;
    height: 675px;
    width: 675px;
    z-index: 0;



}

#orange {
    

display: grid;




}






#green {
    display: grid;
    grid-area: 1 / 1 / 2 / 2 ;
    
    
}

#green2 {

    
    grid-area: 2 / 1 / 3 / 2 ;
    font-family: 'Lucida Bright', sans-serif;
    font-size: larger;
    color: whitesmoke;

}



#purple {

    
    grid-area: 1 / 2 / 2 / 5 ;
    width: 67vw ;
    justify-self: center;



}




#teal {

    display: grid;
    padding: 20px;
 
}

#leftTeal {

    grid-area: proj1;
    grid-area: 2 / 2 / 3 / 3 ;
    padding-right: 10px;

}

#middleTeal {

    grid-area: proj2;
    grid-area: 2 / 3 / 3 / 4 ;
    padding-right: 10px;
    padding-left: 10px;

}

#rightTeal {


    grid-area: proj3;
    grid-area: 2 / 4 / 3 / 5 ;
    padding-left: 10px;


}

LH {

font-weight: bolder;



}

#projimg3 {


    height: 300px;
    width: 450px;


}

#projimg2 {


    height: 300px;
    width: 350px;


}